@font-face {
  font-family: 'easta-mid';
  src: url('./fonts/EASTARJET-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'easta-light';
  src: url('./fonts/EASTARJET-DemiLight.ttf') format('truetype');
}
@font-face {
  font-family: 'easta-heavy';
  src: url('./fonts/EASTARJET-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'bodoni';
  font-weight: 500;
  src: url('./fonts/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'bodoni-itailic';
  src: url('./fonts/BodoniModa-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'maruburi';
  src: url('./fonts/MaruBuri-Regular.ttf') format('truetype');
}
